.body {
    font-family: ;
    color: ;
    background-color: ;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* hero */
.hero {
    background-color: #2E2F42;
}

.text-hero {
    color: #FFFFFF;
}

.button {
    background-color: #4D5AE5;
}
/* footer */
.footer {
    background-color: #2E2F42;
}
.footer-text {
    color: #FFFFFF;
}